:root {
  --heading-font: "Oswald", sans-serif;
  --body-font: "Noto Serif", serif;
  --dark-colour: #3b060a;
  --med-colour: #8a0000;
  --lighter-colour: #c83f12;
  --lightest-colour: #ffefc8;
  --background-white: #fffaef;
}

body {
  max-width: none;
  font-family: var(--body-font);
  background-color: var(--background-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.container {
  max-width: none;
  padding: 0;
  margin: 0 auto;
}
.navbar {
  background-color: var(--lightest-colour);
}

nav {
  padding: 21px;
}

nav li {
  display: inline;
  line-height: 3;
  padding: 7px;
}

nav a {
  text-decoration: none;
  color: var(--dark-colour);
}

nav a.active,
nav a:hover {
  color: var(--lighter-colour);
}
.material {
  display: block;
  margin: 28px auto;
  text-align: center;
}

.hero {
  display: block;
  text-align: center;
  padding: 160px 20px;
  background: var(--lightest-colour, 0.5);
}
.hero h1 {
  font-size: 42px;
  font-weight: 600;
  color: var(--med-colour);
  padding: 40px 0px 0px 0px;
}

.hero p {
  font-size: 18px;
}

.btn-primary {
  border: var(--lighter-colour) 1.7px solid;
  border-radius: 42px;
  padding: 14px 21px;
  color: var(--lightest-colour);
  background-color: var(--lighter-colour);
  font-family: var(--heading-font);
  margin: 40px 10px 10px;
}

.btn-primary:hover {
  border: var(--med-colour) 1.7px solid;
  color: var(--med-colour);
  background-color: var(--lightest-colour);
}
.spacer {
  text-align: center;
  margin: 60px 0;
}
.homepage-projects .row {
  margin: 60px 30px;
}
.proj-description {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
}

.proj-description p {
  padding: 20px 0;
}
.btn-second {
  border: var(--med-colour) 1.7px solid;
  border-radius: 42px;
  padding: 14px 21px;
  color: var(--med-colour);
  background-color: var(--lightest-colour);
  font-family: var(--heading-font);
}

.btn-second:hover {
  border: var(--med-colour) 1.7px solid;
  color: var(--lightest-colour);
  background-color: var(--med-colour);
  transition: 140ms all ease-in-out;
}

.images {
  background-color: var(--lightest-colour);
  border-radius: 15px;
}

.about {
  padding: 42px 0 0 0;
}
.material {
  margin: 0 40px;
}
.material h1 {
  font-size: 42px;
  font-weight: 600;
  color: var(--med-colour);
}
.material h2,
h3 {
  color: var(--med-colour);
}
.material h2 {
  font-size: 18px;
}
.material p {
  color: var(--dark-colour);
  font-size: 14px;
}

.about-headers {
  font-size: 18px !important;
}

.about-me {
  line-height: 2;
}

.about-image {
  width: 400px;
}
.contact-body {
  background-color: var(--lightest-colour);
  padding: 70px 50px;
}

.contact-body h3 {
  color: var(--med-colour);
}

.contact-body i {
  height: 54px;
  width: 54;
  font-size: 63px;
  color: var(--lighter-colour);
}

.contact-body a {
  text-decoration: none;
  color: var(--dark-colour);
}

.contact-body p {
  padding: 20px 0;
}

.linkedin {
  padding: 18px 0 38px 0;
}

.linkedin-contact {
  padding-bottom: 20px;
}

.email {
  padding: 38px 0 18px 0;
}

.email-contact {
  padding-top: 20px;
}

@media (max-width: 2000px) {
  .linkedin-contact {
    text-align: start;
  }
  .email-contact {
    text-align: end;
  }
  .project-whole {
    padding: 21px 21px;
  }
}

@media (max-width: 500px) {
  .material {
    margin: 0 28px;
  }
  .material h1 {
    font-size: 30px !important;
  }

  .material .about {
    text-align: end;
  }

  .project-whole {
    margin: 20px 0;
  }

  .about-image {
    margin-top: 80px;
  }

  .linkedin-contact {
    text-align: center;
  }

  .email-contact {
    text-align: center;
  }
  .about-image {
    margin: 40px auto;
  }
}
