:root {
  --heading-font: "Oswald", sans-serif;
  --body-font: "Noto Serif", serif;
  --dark-colour: #3b060a;
  --med-colour: #8a0000;
  --lighter-colour: #c83f12;
  --lightest-colour: #ffefc8;
  --background-white: #fffaef;
  --transition: all 210ms ease-in-out;
  --hover-animation:                                  
;
}

body {
  max-width: none;
  font-family: var(--body-font);
  background-color: var(--background-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.container,
.navbar {
  max-width: none;
  padding: 0;
  margin: 0 auto;
}
.navbar {
  background-color: var(--lightest-colour);
}

nav {
  padding: 21px;
}

nav li {
  display: inline;
  line-height: 3;
  padding: 7px;
}

nav a {
  text-decoration: none;
  color: var(--dark-colour);
}

nav a.active,
nav a:hover {
  color: var(--lighter-colour);
}
.material {
  display: block;
  margin: 28px auto;
  text-align: center;
}

.hero {
  display: block;
  text-align: center;
  padding: 160px 20px;
  background: var(--lightest-colour, 0.5);
}
.hero h1 {
  font-size: 42px;
  font-weight: 600;
  color: var(--med-colour);
  padding: 40px 0px 0px 0px;
}

.hero p {
  font-size: 18px;
}

.btn-first {
  border: var(--lighter-colour) 1.7px solid;
  border-radius: 42px;
  padding: 14px 21px;
  color: var(--lightest-colour);
  background-color: var(--lighter-colour);
  font-family: var(--heading-font);
  text-decoration: none;
  text-align: center;
  transition: var(--transition);
}

.btn-first:hover {
  border: var(--med-colour) 1.7px solid;
  color: var(--med-colour);
  background-color: var(--lightest-colour);
  transform: scale(1.2);
}
.spacer {
  text-align: center;
  margin: 60px 0;
}
.homepage-projects .row {
  margin: 60px 30px;
}
.proj-description {
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
}

.proj-description p {
  padding: 20px 0;
}
.btn-second {
  border: var(--med-colour) 1.7px solid;
  border-radius: 42px;
  padding: 14px 21px;
  color: var(--med-colour);
  background-color: var(--lightest-colour);
  font-family: var(--heading-font);
}

.btn-second:hover {
  border: var(--med-colour) 1.7px solid;
  color: var(--lightest-colour);
  background-color: var(--med-colour);
  transition: var(--transition);
  transform: scale(1.1);
}

.images {
  background-color: var(--lightest-colour);
  border-radius: 15px;
}

.images-projects-page {
  transition: all 140ms ease-in-out;
}
.images-projects-page:hover {
  filter: contrast(84%);
  transform: scale(1.1);
}
.material {
  margin: 70px;
}
.material h1 {
  font-size: 42px;
  font-weight: 600;
  color: var(--med-colour);
}
.material h2,
h3 {
  color: var(--med-colour);
}
.material h2 {
  font-size: 18px;
}
.material p {
  color: var(--dark-colour);
  font-size: 14px;
}
.about-material {
  display: flex;
  margin: auto;
  max-width: 1000px;
}
.about-headers {
  font-size: 18px !important;
}

.about-me {
  line-height: 2;
}

.about-image {
  width: 400px;
}
.contact-body {
  background-color: var(--lightest-colour);
  padding: 70px 50px;
}

.contact-body h3 {
  color: var(--med-colour);
}

.contact-body i {
  height: 54px;
  width: 54px;
  font-size: 63px;
  color: var(--lighter-colour);
}

.contact-body a {
  text-decoration: none;
  color: var(--dark-colour);
}

.contact-body p {
  padding: 20px 0;
}
.linkedin {
  padding: 18px 0 38px 0;
  transition: var(--transition);
}

.linkedin:hover {
  transform: scale(1.2);
}

.linkedin-contact {
  padding-bottom: 20px;
}

.email {
  padding: 38px 0 18px 0;
  transition: var(--transition);
}
.email:hover {
  transform: scale(1.2);
}

.email-contact {
  padding-top: 20px;
}
footer {
  padding-bottom: 60px;
}
footer .contact-floater {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  background-color: var(--lightest-colour);
  margin: 63px;
  padding: 63px 140px;
}
footer .contact-floater .floater-text h3 {
  font-size: 35px;
}
footer .floater-button .btn-first {
  font-size: 21px;
}

footer .email-footer,
.socials {
  display: flex;
  justify-content: center;
}
footer .email-footer {
  color: var(--dark-colour);
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  transition: var(--transition);
  margin: 42px 0;
}
footer .email-footer:hover {
  color: var(--lighter-colour);
}
footer .socials i {
  background-color: var(--lightest-colour);
  border-radius: 50%;
  color: var(--med-colour);
  font-size: 21px;
  margin: 14px;
  padding: 12px;
  transition: var(--transition);
}
footer .socials i:hover {
  color: var(--lightest-colour);
  background-color: var(--med-colour);
}
footer p {
  text-align: center;
  padding-top: 28px;
}
footer p a {
  color: var(--dark-colour);
}
@media (max-width: 2000px) {
  .linkedin-contact {
    text-align: start;
  }
  .email-contact {
    text-align: end;
  }
  .project-whole {
    padding: 21px 21px;
  }

  .linkedin-contact {
    text-align: center;
  }

  .email-contact {
    text-align: center;
  }
  .about-material {
    text-align: end;
  }
}
@media (max-width: 992px) {
  .proj-description {
    text-align: center;
  }
  .about-material {
    text-align: center;
  }
}

@media (max-width: 750px) {
  footer .contact-floater {
    margin: 7px auto;
    padding: 21px 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .floater-text,
  .floater-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .material {
    margin: 40px 28px;
  }
  .material h1 {
    font-size: 30px !important;
  }

  .project-whole {
    margin: 20px 0;
  }

  .about-image {
    margin-top: 80px;
  }
  .about-image {
    margin: 40px auto;
  }
}
